body {
    padding: 18px;
    background-color: #eee;
}

header > .img-header-logo {
    width: 10vw;
    margin: 0 45%;
}

nav {
    margin: 2% 0;
    background-color: #229953e7;
    width: 96vw;
    height: 10vh;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
}

nav .nav-ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding-top: 1.6%;
    font-size: 20px;
}

nav a {
    color: black;
}

.ul-items {
    margin: 0 1%;
}

nav a {
    text-decoration: none;
}

.promo-article {
background-image: url("../images/promoBG.jpeg");
background-size: cover;
background-repeat: no-repeat;
border-radius: 15px;
padding: 10px;
}

.promo-head {
    color: #fff;
    margin: 3% 0 3% 3%;
    font-size: 40px;
}

.promo-para {
    color: #fff;
    margin: 3% 0 3% 3%;
}

.info-section {
    display: flex;
    margin: 3% 0;
}

article figure  {
    background-color: #229953e7;
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
}

figure img, h3, figcaption {
    padding: 0 6%;
}

.footer {
    display: flex;
    justify-content: space-between;
    margin: 0 2.5rem;
}

.img-foot-logo {
    width: 5vw;
}

article figcaption {
    font-size: 17px;
    text-align: center;
}

article img {
    width: 27vw;
    height: 35vh;
    object-fit: cover;
    margin-bottom: 4%;
}

figcaption > a {
    display: block;
    margin-top: 2%;
    text-align: left;
}